* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px = 0.652 = 62.5% */
  /* percentage of user's browser font-size settings */
  font-size: 62.5%;

  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;

  /* only works if there is nothing absolute positioned in relation to body */
  overflow-x: hidden;
}
/* STICKY RELATIVE */
.logo {
  height: 5.2rem;
}
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e7f5ff;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #25d366;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #25b158;
}
/* ************* */
/* HERO SECTION */
/* ************* */
.hero-text-box {
  margin-top: 60px;
}
.section-hero {
  /* background-color: #e7f5ff; */
  padding: 4.8rem 0 9.6rem 0;
}
.section-hero {
  position: relative;
  height: 100vh;
  width: ; /* Defina a altura da seção como a altura da viewport */
  overflow: hidden; /* Impede que o vídeo ultrapasse os limites da seção */
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* O vídeo cobre todo o espaço disponível */
  filter: brightness(
    0.4
  ); /* Ajuste o valor para controlar a intensidade do filtro */
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 70rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem 0;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}
.delivered-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #5d9aca;
  font-weight: 700;
}
/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* ************* */
/* HEADER */
/* ************* */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;

  /* because we want to make it sticky later */
  height: 6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 5.2rem;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #3b627f;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #5d9aca;
}
*:focus {
  outline: none;
  /* outline: 4px dotted; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  color: #ffffff;

  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #5d9aca;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;

  /* MAKING THIS FOR THE BTN IN THE CTA SECTION */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* put transition on original "state" */
  /* transition: background-color 0.3ms; */
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #25d366;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #27b15a;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; */
  /* trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}
